body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.327);
    width: 500px;
}

h1{
    font-size: 1.5rem;
    color: #333;
}

p{
    color: green;
    font-size: 1rem;
    margin:0;
}
input[type=number]{
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;

}

button{
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(67, 99, 107);
    color: white;
}
button:hover{
    background-color: lightblue;
    color: darkblue;
}
#btn2{
    margin-top: 0;
    
}

#feedback{
    margin-top: 20px;
    font-size: 1.2rem;
    color: #555;
}